div.col-md-9 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}